@charset "utf-8";
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/*body {
	font-family: Open Sans, 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #f8f8f8;
	color: #3f3e3c;
}
a {
	color: #00aeff;
	text-decoration: none;
}
a:hover {
	color: #00a9f8
}
h1 {
	font-size: 20px;
	line-height: 22px;
}
h1 small {
	font-size: 16px;
}
h2 {
	font-size: 18px;
	line-height: 20px;
}
h2 small {
	font-size: 14px;
}
h4 {
	font-size: 14px;
	line-height: 20px;
}
h4 small {
	font-size: 12px;
}
h2.header {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
	padding-left: 5px;
}*/


/* ------------- Form Element ------------- */
input, label {
	display: inline-block;
}
label, input[type="text"], input[type="password"], button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	font-family: Open Sans, 'Open Sans', Arial, Helvetica, sans-serif;
}
label {
	margin-bottom: 10px;
}
label span {
	font-size: 13px;
}
input[type="text"], input[type="password"], textarea {
	border: #b4b4b4 1px solid;
	box-shadow: 0 0 0 4px #ececec;
	height: 26px;
	margin-bottom: 18px;
	padding: 3px 8px;
	width: 282px;
	line-height: 18px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input[type="file"] {
	margin-bottom: 18px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: #8F8F8F;
	box-shadow: 0 0 0 4px #D4D4D4;
}
input[type="text"].input-large, input[type="password"].input-large {
	width: 407px;
}
input[type="text"].input-medium, input[type="password"].input-medium {
	width: 282px;
}
input[type="text"].input-small, input[type="password"].input-small {
	width: 150px;
}
input[type="text"].input-mini,, input[type="password"].input-mini {
 width: 60px;
}
textarea {
	height: 80px;
	width: 282px;
	line-height: 20px;
}
textarea.textarea-large {
	width: 407px;
}
select {
	border: #b4b4b4 1px solid;
	box-shadow: 0 0 0 4px #ECECEC;
	width: 200px;
	height: 30px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 18px;
}
.button {
	padding: 8px 20px;
	font-size: 14px;
	color: #fff;
	font-weight: bold !important;
	text-align: center;
	cursor: pointer;
	background-color: #00aeff;
	border: 0;
}
.button:hover {
	background-color: #27baff;
}
.button:active {
	background-color: #00a9f8;
}
.cancel {
	background-color: #C5CDD1;
	color: #000204;
}
.cancel:hover {
	background-color: #A9B6BC;
}
.cancel:active {
	background-color: #A9B6BC;
}
.error-message {
	color: #E54040;
	display: block;
	margin-bottom: 20px;
	margin-top: -13px;
	vertical-align: super;
	font-size: 12px;
}
.help-block {
	display: block;
	margin-top: -10px;
	margin-bottom: 20px;
	font-size: 13px;
	color: #9E9E9E;
}
/* ------------- Button with DropDown ------------- */
#mainContent .btn-group {
	vertical-align: top;
	margin-top: 10px;
}
#mainContent .btn-group > .btn:first-child, #mainContent .btn-group > .btn:last-child, #mainContent .btn-group > .dropdown-toggle {
	margin-left: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#mainContent .btn-inverse {
	background-image: none;
	border: 0;
	background-color: #fff;
	border: 1px solid #b4b4b4;
	color: #3f3e3c;
	box-shadow: none;
	text-shadow: none;
}
#mainContent .btn .caret {
	margin-top: 8px;
	margin-left: 4px;
}
#mainContent .btn-inverse .caret {
	border-top-color: #000;
	border-bottom-color: #000;
}
#mainContent .dropdown-menu {
	background-color: #fff;
	border: 1px solid #b4b4b4;
	box-shadow: none;
	padding: 0;
}
#mainContent .dropdown-menu li > a {
	color: #3f3e3c;
	padding: 7px 20px;
}
#mainContent .dropdown-menu li > a:hover, #mainContent .dropdown-menu li > a:focus, #mainContent .dropdown-submenu:hover > a {
	background-color: #00aeff;
	background-image: none;
	color: #fff;
}
/* ------------- Top Bar ------------- */
/* I blanked all of this out for Neuropsych Now */
/*.navbar-static-top {
	margin-bottom: 20px;
}
.navbar-inverse, .navbar-inverse .navbar-inner {
	background-color: #1e1e1e;
	color: #f0f1ec;
	background-image: none;
}*/

/* Logo */
/*.navbar .brand {
	margin-left: 10px;
	padding: 0;
}*/

/* Top Navigation */
/*.navbar .nav > li > a {
	float: none;
	padding: 13px 15px;
	color: #f0f1ec;
}
.navbar .nav > li > a:hover {
	background-color: #252525;
	color: #f0f1ec;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #1e1e1e;
	color: #f0f1ec;
}
.navbar .nav > li > a img {
	padding-right: 7px;
}
.navbar .nav > li > a span.notificationNumber {
	background-color: #ED1C24;
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-left: 7px;
	padding: 2px 6px !important;
	text-align: center;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #282828;
	color: #f0f1ec;
}
.dropdown-menu {
	background-clip: padding-box;
	background-color: #282828;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	float: left;
	list-style: none outside none;
	margin: 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
	border: 0;
}
.navbar .nav > li > .dropdown-menu:after, .navbar .pull-right > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu.pull-right:before {
	border: 0;
}
.dropdown-menu li > a {
	color: #f0f1ec;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: #3687bb;
	background-image: -moz-linear-gradient(center top, #0088CC, #0077B3);
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-decoration: none;
}
.nav-header {
	color: #3687bb;
	font-size: 11px;
	text-shadow: none;
}
.dropdown-menu .divider {
	background-color: #454545;
	border-bottom: 1px solid #454545;
	height: 0px;
	margin: 5px 1px;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}*/
/* ------------- Pagination ------------- */
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
	border-bottom-left-radius: 0px;
	border-left-width: 1px;
	border-top-left-radius: 0px;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
/* ------------- Main Body Content ------------- */
#mainContent .container {
	background-color: #fff;
	min-height: 500px;
	color: #6c6c6c;
}
.box-widget-full {
	margin: 25px 50px 50px;
}
.box-widget-full-left {
	margin-left: 50px;
	margin-top: 25px;
	margin-bottom: 50px
}
.box-widget-full-right {
	margin-right: 50px;
	margin-top: 25px;
	margin-bottom: 50px
}
.box-widget-big {
	margin-left: 50px;
	margin-top: 25px;
	margin-bottom: 50px
}
.box-widget-small {
	margin-right: 50px;
	margin-top: 25px;
}
.box-widget-center {
	margin: 25px 0 50px;
}
.box-widget-center form {
	margin: 25px 15px;
}
.box-widget-center .content {
	padding-left: 10px;
	font-size: 13px;
}
.box-widget-big > h2, .box-widget-small > h2, .box-widget-small > h4, .box-widget-center > h2, .box-widget-full > h2 {
	border-bottom: 1px solid #ABABAB;
	padding-bottom: 4px;
	border-color: #ddd;
}
.box-widget-center > h2, .box-widget-full > h2 {
	padding-left: 5px;
}
.box-widget-big > h2 img, .box-widget-small > h2 img, .box-widget-full > h2 img, .box-widget-center > h2 img {
	padding-right: 5px;
	vertical-align: top;
}
.box-widget-big > h2.no-margin, .box-widget-small > h4.no-margin {
	margin-bottom: 0;
}
/* ------------- Alert ------------- */
.alert {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.alert .close {
	top: 0;
}
/* ------------- Image Group Gallery ------------- */
ul.image-group li.image-single ul.image-info {
}
ul.image-group, ul.image-info {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.image-group {
	margin-top: 20px;
}
ul.image-group li.image-single {
	width: 210px;
	height: 175px;
	background-color: #FAFAFA;
	padding: 10px;
 //padding-bottom: 4px;
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
	-webkit-box-shadow: 1px 1px 4px 1px #CCCCCC;
	box-shadow: 1px 1px 4px 1px #CCCCCC;
}
ul.image-group li.image-single img {
	width: 210px;
	height: 158px;
	overflow: hidden
}
ul.image-group li.end-of-row {
	margin-right: 0px;
}
ul.image-group li.image-single ul.image-info li {
	float: right;
	font-size: 10px;
	color: #666;
	margin-left: 8px;
	margin-top: 4px;
	padding-left: 18px;
}
ul.image-group li.image-single ul.image-info li.views {
	background: url(../images/icons/icon_img_view.png) 0 50% no-repeat;
}
ul.image-group li.image-single ul.image-info li.downloads {
	background: url(../images/icons/icon_img_download.png) 0 50% no-repeat;
}
/* Footer */
#pageFooter {
	margin: 5px 0 40px;
}
/* Copyright */
#copright {
	font-size: 12px;
}
#copright a {
	display: inline-block;
	margin-left: 5px;
	font-weight: bold;
	color: #747474;
}
/* Footer Menu */
#footerNav ul {
	float: right;
}
#footerNav ul li {
	float: left;
	list-style: none;
}
#footerNav ul li a {
	padding: 0 10px;
	border-left: 1px solid #dcdcdc;
	color: #747474;
	text-decoration: none;
	font-size: 12px;
}
#footerNav ul li a:hover {
	text-decoration: underline;
}
#footerNav ul li:first-child a {
	border: 0;
}
#footerNav ul li:last-child a {
	padding-right: 0;
}
/* ------------- Over View ------------- */
.view-more {
	margin: 0;
}
.view-more li > a, .view-more li > span {
	border: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 13px;
	text-transform: lowercase;
	padding: 0;
}
.view-more li > a:hover {
	text-decoration: none;
	background-color: #fff;
}
/* -----------------------------------------
   Dashboard
----------------------------------------- */
/* ------------- Over View ------------- */
.table-striped tbody tr:nth-child(2n) td, .table-striped tbody tr:nth-child(2n) th {
	background-color: #fafafa;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
	background-color: #fff;
}
.table th, .table td {
	border-top: 1px solid #DDDDDD;
}
.table tr:last-child th, .table tr:last-child td {
	border-bottom: 1px solid #DDDDDD;
}
#overview table tr {
	height: 80px;
	overflow: hidden;
}
#overview table tr td.description {
	width: 80%;
	padding-top: 20px;
}
#overview table tr td.stats {
	width: 20%;
	text-align: center;
}
#overview table tr td.description img {
	float: left;
	padding-right: 15px;
}
#overview table tr td.description h4 {
	margin-top: 0;
	line-height: 1;
	margin-bottom: 5px;
}
#overview table tr td.description {
	font-size: 12px;
}
#overview table tr td.stats {
	vertical-align: middle;
}
#overview table tr td.stats h2 {
	font-size: 28px;
	line-height: 40px;
	color: #525252;
}
/* ------------- Upload File ------------- */
#upload > form {
	text-align: center;
	margin-top: 20px;
}
#upload > form span {
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
}
#upload-photo {
	height: 150px;
	text-align: center;
	line-height: 150px;
	font-size: 22px;
	border-radius: 3px 3px 3px 3px;
	border-style: dashed;
	border: 4px dashed #c0c0c0;
	margin-top: 20px;
}
.upload-photo-border {
	border: 4px dashed #999 !important;
}
#upload-photo.bigger-area {
	height: 200px;
	line-height: 200px;
	margin-top: 55px;
}
#upload-photo img {
	margin-right: 15px;
}
/* ------------- SideBar ------------- */

/* ------------- Profile ------------- */

#profile .profile-photo {
	float: left;
	background-color: #FAFAFA;
	padding: 4px;
	float: left;
	-webkit-box-shadow: 1px 1px 3px 1px #CCCCCC;
	box-shadow: 1px 1px 3px 1px #CCCCCC;
	margin-right: 15px;
}
#profile #profile-info h3 {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
	color: #525252;
}
#profile #profile-info h3 span {
	font-size: 12px;
	font-weight: normal;
}
#profile #profile-info h3 span a {
	color: #00bff3;
}
.progress {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 16px;
	margin-bottom: 0;
}
#profile #profile-info h4 {
	font-size: 12px;
	margin-top: 5px;
}
/* ------------- Leader Board ------------- */
table.leader-board {
	margin-bottom: 15px;
}
table.leader-board tr {
	height: 25px;
	overflow: hidden;
}
table.leader-board th, table.leader-board td {
	padding: 5px 7px;
}
table.leader-board tr td.name img {
	float: left;
	padding-right: 7px;
}
table.leader-board tr td.name h4 {
	margin-top: 3px;
	line-height: 1;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: normal;
}
table.leader-board tr td.stats {
	vertical-align: middle;
}
table.leader-board tr td.stats h2 {
	font-size: 14px;
	line-height: 0px;
	color: #525252;
}
table.leader-board tr td.name {
	width: 75%;
}
table.leader-board tr td.stats {
	width: 25%;
	text-align: center;
}
/* -----------------------------------------
   Login
----------------------------------------- */
a.forgot-password, a.forgot-password:hover {
	font-size: 13px;
	padding-left: 25px;
	color: #3f3e3c;
}
a.forgot-password:hover {
	text-decoration: underline;
}
/* -----------------------------------------
   Profile Settings
----------------------------------------- */
.box-widget-center .divider {
	border-bottom: 1px solid #ddd;
	height: 1px;
	margin: 0 -10px
}
.box-widget-center h3 {
	font-size: 16px;
	line-height: 20px;
	margin-left: -5px;
	margin-bottom: 20px
}
#profile-settings .change-password {
	font-size: 13px;
	margin-top: -10px;
	margin-bottom: 25px;
}
#profile-settings .display-photo {
	margin-bottom: 25px;
}
#profile-settings .display-photo .profile-photo {
	background-color: #FAFAFA;
	padding: 4px;
	-webkit-box-shadow: 1px 1px 3px 1px #CCCCCC;
	box-shadow: 1px 1px 3px 1px #CCCCCC;
	width: 192px;
	display: inline-block;
	margin-right: 25px;
}
/* -----------------------------------------
   Payment Details
----------------------------------------- */
.contact-details {
	background-color: #FAFAFA;
	border: 1px solid #CFCFCF;
	padding: 15px;
	color: #6C6C6C;
	font-size: 13px;
	position: relative;
	width: 250px;
	margin: 25px 0 50px;
}
.contact-details .contact-name {
	font-size: 14px;
	font-weight: bold;
}
.contact-details .contact-address {
	width: 200px;
}
.contact-details .contact-country {
	text-transform: uppercase;
}
.contact-details .edit-contact {
	position: absolute;
	right: 10px;
	top: 10px;
}
/* -----------------------------------------
   Upload Image
----------------------------------------- */
#upload-image-heading {
	margin-bottom: 0;
}
#upload-image-wrapper .upload-image-container {
	background-color: #FAFAFA;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 3px 1px #CCCCCC;
	box-shadow: 1px 1px 3px 1px #CCCCCC;
}
#upload-image-info form {
	margin-left: 50px;
}
#upload-image-info form #user-sets {
	display: none;
}
#upload-image-info form .cancel {
	margin-left: 30px;
}
/* -----------------------------------------
   Notification
----------------------------------------- */
.activities table {
	margin: 25px 0 50px;
}
.activities table tr td {
	font-size: 13px;
}
.activities table tr td.date-time {
	width: 25%;
}
.activities table tr td.info {
	width: 40%;
}
.activities table tr td.info img {
	padding-right: 7px;
}
.activities table tr td.image {
	width: 35%;
}
.activities table tr td.image .image-container {
	background-color: #FAFAFA;
	padding: 4px;
	-webkit-box-shadow: 1px 1px 3px 1px #CCCCCC;
	box-shadow: 1px 1px 3px 1px #CCCCCC;
	width: 200px;
	margin-bottom: 5px;
}
/* -----------------------------------------
   Landing Page
----------------------------------------- */
#landingPage {
	/*background: url('../img/braincellsrevmed.png');*/
	background: url('../img/spiral.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 900px;
	/*color: #FFF;*/
}
#landingPage a:hover {
	/*color: #fff;*/
}
#landingPage #home-header {
	/*margin-top: 125px;*/
	margin-top: 60px; /*fixed for NPN*/
}
#landingPage ul#home-nav {
	list-style: none;
}
#landingPage ul#home-nav li {
	float: left;
	margin-left: 40px;
	line-height: 76px;
}
#landingPage ul#home-nav li a {
	font-size: 18px;
	color: #fff;
}
#landingPage ul#home-nav li a:hover {
	color: #00aeff;
	text-decoration: none;
}
#landingPage .introduction {
	margin-top: 70px
}
#landingPage .introduction a.button {
	margin-top: 25px;
	display: inline-block;
}
#landingPage .introduction a.button:hover {
	text-decoration: none;
}
#landingPage h1 {
	font-weight: 700;
	font-size: 42px;
	/*line-height: 46px;*/
	line-height: 1.2em;
}
#landingPage h2 {
	font-weight: 300;
	font-size: 18px;
}
.landing-modal.modal {
	width: 450px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.landing-modal .modal-header h3 {
	margin-left: 15px;
	font-size: 18px;
}
.landing-modal .modal-body {
	max-height: 450px;
}
.landing-modal .modal-body form {
	margin-left: 50px;
}
