/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Just exactly what it says
 */
/**
* Ground Control to Major Tom - scratch that - Ground Control to Howard
* The variables below are global. Global. Global. Global.
*/
$black: #000000;
$black-translucent: rgba(0,0,0,0.8);
$blue: #3c4657;
$bluegray: #3D5F99;
$bluelight: #B0CDFF;
$cream: rgb(238,232,213);
$cyan: #00E5FF;
$gray: #999999;
$grayblue: #586780;
$green-dark: #1B7F18;
$green-bright: #76FF72;
$orange: #FF7400;
$red: #CC2D14;
$white: #eee;
$white-bright: #fff;