/*------------------------------------*\
    $METAINFO
\*------------------------------------*/

/**
* Set options exclusive to meta info, such as tags and authors
*/

// @import "_spacing";

.article {
	font-size: $base-font-size +2;
	max-width: $width - 40em;
	margin: 0 auto;
}

.author, .date {
	font-weight: bold;
}

.tags {
	padding-bottom: $tall;
	font-weight: bold;
	> a {
		padding: 0.2em;
		color: $white-bright;
		background-color: $orange;
		&:visited {
			color: $white-bright;		
		}
		&:hover {
			color: $black;
			background-color: $cyan;
		}
	}
}