<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
      <h3>Neuropsych Now</h3>
      <div>
      <h4><i class="icon-twitter"></i><a href="http://twitter.com/NeuropsychNow"> twitter</a></h4>
        </div>
        <div>
          <h4><i class="icon-envelope-alt"></i><a href="#">email</a> 
        </h4>
      </div>
        <div >
          <h4><i class="icon-facebook"></i><a href="http://www.facebook.com/pages/Neuropsych-Now/213658415438863"> facebook</a></h4>
        </div>
        <div id="nav-searchbutton" >
        <span class="pull-right"><a class="btn btn-info" href="/nsearch.php"><i class="icon-search" style="color:white"></i> Advanced Search</a></span >
      </div>
    </div>
  </div> 
      

  
