<!--#if expr="$DOCUMENT_NAME = index.html" -->
<!--#include virtual="../cgi/pages_in_category.cgi" -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#elif expr="$DOCUMENT_NAME = archives.html" -->
<!--#else -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#include virtual="./disqus.html" -->
<!--#endif -->

		</div> <!-- end span8 -->
			<div class="span4" style="padding-left: 40px;"> <!-- added npn -->
			<!--#include virtual="sidebar.html" -->
			</div>
		</div> <!-- end row-fluid -->
	</div> <!-- end of top container-fluid -->
		<!--#include virtual="mainfoot.html" -->
