<!--#if expr='v("$DOCUMENT_NAME") = "index.html" ' -->
<!--#include virtual="../cgi/pages_in_category.cgi" -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#elif expr='v("$DOCUMENT_NAME") = "archives.html" '-->
<!--#else -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#endif -->

		</div> <!-- end span8 -->
			<div class="span4" style="padding-left: 40px;"> <!-- added npn -->
			<!--#include virtual="sidebar.html" -->
			</div>
		</div> <!-- end row-fluid -->
	</div> <!-- end of top container-fluid -->
		<!--#include virtual="mainfoot.html" -->

	<script async type="text/javascript" language="Javascript" src="/js/bootstrap-lightbox.js">
	</script>
  <script type="text/javascript" language="Javascript" src="https://s3-us-west-2.amazonaws.com/nncssjs/js/bigfoot.min.js">
  </script>
	<script type="text/javascript">
	    $.bigfoot();
	</script>
	<script>
	$(document).ready(function() {
	  $('#tipue_search_input').tipuesearch();
	});
	</script>