<div class="header">
<div class="container marketing">
  <div class="row">
        <div class="span12">
           </div>
  </div>  
</div>

<div class="wrapper rightmenu"><div class="innerwrapper"><div class="contentwrapper">

<div class="content">

<!-- <link href="./css/bootstrap.css" rel="stylesheet">
<link href="./css/bootstrap-responsive.css" rel="stylesheet">
<link href="./css/less/layout.css" rel="stylesheet"> -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="./index.html">Neuropsych Now</a>
            <!-- Responsive Navbar 2: Place all navbar contents to be collapsed within .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="./blog.html">Blog</a></li>
                <li class="dropdown">
                  <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Tools<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="./neuroapps.html">Neuro iOS Apps</a></li>
                    <li><a href="./downloads.html">Downloads</a></li>
                    <li><a href="./extlinks.html">External Links</a></li>
                    <li><a href="./ceu.html">Continuing Education</a></li>
                  </ul>
                </li>
              
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Topics <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="./titles.html">All Neuropsych Now Titles</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Individual Titles</li>
                    <li><a href="./underconstruction.html">Alzheimer's Disease</a></li>
                    <li><a href="./underconstruction.html">Report Writing</a></li>
                    <li><a href="./underconstruction.html">Report Writing: Tech</a></li>
                    <li><a href="./underconstruction.html">HIPAA: In The Cloud</a></li>
                    <li><a href="./underconstruction.html">Executive Functioning</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

