    <script type="text/javascript" src="/sphider/include/js_suggest/SuggestFramework.js"></script>
    <script type="text/javascript">window.onload = initializeSuggestFramework;</script>
    <!-- stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=News+Cycle|Oxygen:400,700|Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/npn.css" type="text/css" >
    <link rel="stylesheet" href="./css/font-awesome.min.css">    
    <link rel="icon" href="./img/favicon.png" type="image/png" /> 

    <style>
      
    
    </style>
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet">

    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div id="wrap" >