
<div id="mainfoot" class="container-fluid">
  <div class="row-fluid" >
    <div class="span4">
      <h4>Contact</h4>
        <p><span><i class="icon-twitter"></i><a href="http://twitter.com/NeuropsychNow"> twitter</a></span>
        <span><i class="icon-envelope-alt"></i> <script type="text/javascript">
        //<![CDATA[
        <!--
        var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
        "=110){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return " +
        "o.substr(0,ol);}f(\")2,\\\"V\\\\\\\\PCKV600\\\\IY010\\\\n\\\\300\\\\410\\\\" +
        "500\\\\a|100\\\\+4420\\\\y04/&$< $5100\\\\n!%*',j330\\\\{ (7+5`530\\\\bPSX4" +
        "20\\\\NWY^VM@B^BZKClECDLF430\\\\JPOK@M=B z~hq8v*7<}~tdf|z\\\"\\\\771\\\\dle" +
        "rejg\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;" +
        "++y)2<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"  ;
        while(x=eval(x));
        //-->
        //]]>
        </script>
        </span>
        <span><i class="icon-facebook"></i><a href="http://www.facebook.com/pages/Neuropsych-Now/213658415438863"> facebook</a></span></p>
    </div>
    <div class="span4">
      <h4>Get</h4>
        <p>
          <!-- <span><i class="icon-book"></i><a href="/titles.html" > Guides & Books</a></span> -->
          <span><i class="icon-lightbulb"></i><a href="/articles.html"> Articles</a></span>
          <span><i class="icon-wrench"></i><a href="/tools.html"> Tools</a></span>
        </p>
    </div>
    <div class="span4">
      <h4>About</h4>
        <p>
          <span><i class="icon-group"></i><a href="/aboutus.html"> Us</a></span>
          <!-- <span><i class="icon-download-alt"></i><a href="/aboutguides.html"> Our Products</a></span> -->
          <span><i class="icon-cloud"></i><a href="/aboutsite.html"> This Site</a></span>
        </p>
    </div>
  </div> <!-- end of footer top row -->

  <div class="row-fluid" style="text-align: center; font-size: 14px;">
    <div id="footlogo" class="span6" >
      <a href="/">
      <img alt="Neuropsych Now Small Footer Logo" src="/img/logo_inverse_mini.png" style="width: 50%;">
      </a>
    </div>
    <div class="span6">
      <p>&copy; 2012 - 2018 Neuropsych Now</p>
      <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"></a><br />Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NC-ND 4.0 International License</a></p>
      <p><a href="/privacy.html">Privacy</a> &middot; <a href="/terms.html">Terms</a></p>
    </div>
  </div> <!-- end of footer bottom row -->
</div> <!-- end of footer container -->
