<!-- modal scratchpad -->

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-small" data-toggle="modal">button text</a>

<!-- no button - use text as trigger -->
<a href="#myModal" data-toggle="modal">text trigger</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">label</h3>
  </div>

<!-- modal body -->  
  <div class="modal-body">
text
  </div>

<!-- modal footer --> 
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>