<style type="text/css">
/*the search field goes to the right*/
  .navbar-search {
    /*position: absolute;*/
    float: right;
    margin-top: 0px;
    margin-left: 650px;
    margin-bottom: 10px;
    }

  /*get the navbar to cooperate on hero class mobile versions: landscape and portrait*/
  @media (max-width: 979px) {
    .navbar-fixed-top, .navbar-fixed-bottom {position: fixed;}
    .container-hero-unit { margin-top:70px;}
  }
</style>

<!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <!-- <div class="container"> -->

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
            <!-- Responsive Navbar 1: Button for triggering responsive navbar. Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="./index.html">Neuropsych Now</a>
            <!-- Responsive Navbar 2: Place all navbar contents to be collapsed within .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <!-- <li><a href="./index.html">Home</a></li> -->
                <li><a href="./aboutus.html">About Us</a></li>
                <li><a href="./blog.html">Blog</a></li>
                
                <li class="dropdown">
                  <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Tools<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="./neuroapps.html">Neuro iOS Apps</a></li>
                    <li><a href="./downloads.html">Downloads</a></li>
                    <li><a href="./extlinks.html">External Links</a></li>
                    <li><a href="./ceu.html">Continuing Education</a></li>
                  </ul>
                </li>
                
                <li class="dropdown">
                  <a id="drop2" href="#" class="dropdown-toggle" data-hover="dropdown">Topics <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="./titles.html">All Neuropsych Now Titles</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Individual Titles</li>
                    <!-- <li><a href="./ad.html">Alzheimer's Disease</a></li>
                    <li><a href="./reportwriting.html">Report Writing</a></li>
                    <li><a href="./reportech.html">Report Writing: Tech</a></li>
                    <li><a href="./hipaacloud.html">HIPAA: In The Cloud</a></li>
                    <li><a href="./execfunc.html">Executive Functioning</a></li> -->
                    <li><a href="./underconstruction.html">Alzheimer's Disease</a></li>
                    <li><a href="./underconstruction.html">Report Writing</a></li>
                    <li><a href="./underconstruction.html">Report Writing: Tech</a></li>
                    <li><a href="./underconstruction.html">HIPAA: In The Cloud</a></li>
                    <li><a href="./underconstruction.html">Executive Functioning</a></li>
                  </ul>
                </li>
              </ul>
              <!-- search bar -->
              <!-- <form class="navbar-search" action="/search/">
              <input type="text" class="search-query" name="query" placeholder="Search">
            </form> -->
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->