<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <title>Neuropsych Now</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="W. Howard Buddin Jr., Ph.D. & S. Marc Testa, Ph.D.">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- for sphider search -->
<script type="text/javascript" src="../sphider/include/js_suggest/SuggestFramework.js"></script>
<script type="text/javascript">window.onload = initializeSuggestFramework;</script>
<link href='http://fonts.googleapis.com/css?family=News+Cycle|PT+Sans+Narrow|Josefin+Sans:400,700,400italic|Oxygen:400,700|Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="../css/npn.css" type="text/css" />
<link rel="stylesheet" href="../css/less/layout.css" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
<link rel="alternate" type="application/atom+xml" title="Atom - Comments" href="/atom-comments.xml" />
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="icon" href="./img/favicon.png" type="image/png" />


<style>

/*this accomodates the fixed navbar*/
body {
	padding-top: 60px;
	font-family: 'News Cycle', sans-serif;
}


h1 {
  font-family: 'Oxygen', sans-serif;
  /*color: #E60075;*/
  color: rgb(42,161,152);
}

p {
	font-size: 16px;
}

/*offset the OpenID Login button just a bit*/

/*input {
  margin: 10px;
  font-size: 100%;
  vertical-align: middle;
}*/

/*@import url("../sphider/include/js_suggest/SuggestFramework.css");*/

</style>
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css" type="text/css" />

<script type="text/javascript" src="cgi/commenter.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/twitter-bootstrap-hover-dropdown.js"></script>
