
<div class="footer">
<!-- <h3 style="text-align: left;">Search Neuropsych Now</h3> -->
<div class="container">
<h3 style="text-align: left;">Search Neuropsych Now</h3>
	<!-- <div>
		<form action="search/">
		  <div>
		    <input type="text" name="query" size="25" />
		    <input type="submit" value="Search Neuropsych Now" />
		  </div>
		</form>
	</div> -->
<form action="search/">
	<script>
  (function() {
    var cx = '015749838140874528448:zgqlpnaqkro';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
	</script>
<gcse:search></gcse:search>
</form>
</div>
</div>

<!-- this is from fp's site:
<h3>Search</h3>
<div>
	<form action="http://www.google.com/cse" id="cse-search-box">
	  <div>
	    <input type="hidden" name="cx" value="003942795115673360881:2cavs0sfkly" />
	    <input type="hidden" name="ie" value="UTF-8" />
	    <input type="text" name="q" size="25" />
	    <input type="submit" name="sa" value="Search" />
	  </div>
	</form>
	<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>
</div> -->