<div class="sidebar">

	<h4>Learn More. Know More.</h4>
	<div>
		<a href="/index.html"><img src="https://s3-us-west-2.amazonaws.com/nnimages/npn-crop-side.png" alt="logo side" width="200px" height="223px" border="none" align="vertical" /></a>
	</div>

	<h3>Search Articles</h3>
	<div>
		<form action="/search/">
		  <div>
		    <input type="text" name="query" size="25" />
		    <input type="submit" value="Find" />
		  </div>
		</form>
	</div>

	<h3>Browse</h3>
	<div>
		<ul class="nav nav-list">
		  <li><a href="/articles.html" title="Articles" ><i class="icon-briefcase"></i> Latest Stories</a></li>
		  <li><a href="/archives/" title="Archives"><i class="icon-suitcase"></i> Archives</a></li>
		  <li><a href="/tags/" title="Tag Map"><i class="icon-tags"></i> Tag Map</a></li>
		  <li><a href="/atom.xml"><i class="icon-rss"></i> Subscribe to Atom feed</a></li>
		</ul>
	</div>	
	
</div> <!-- end of sidebar -->
	
