<!DOCTYPE html>
<html>
	<head>
		<title>Tags</title>
		<!--#include virtual="head.html" -->
		<meta charset="utf-8">
		<link rel="icon" href="./img/favicon.png" type="image/png" />
	</head>
	<body>
		<!--#include virtual="header.html" -->
		<!--#include virtual="../cgi/tags.cgi" -->

</div>
</div>

<!--#include virtual="sidebar.html" -->

<!-- Used to be
#include file="sidebar.html"  -->

</div>

<div class="footer">
The gas in this blog's engine comes from Fletcher Penney's <a href="http://fletcherpenney.net/multimarkdown/cms/">MultiMarkdown CMS</a></div>
</div>
</body>
</html>
