<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kDKDrawingInfoTitle</key>
	<string>npn-slide3</string>
	<key>kdkdrawinginfocreationdate</key>
	<date>2012-12-12T07:48:53Z</date>
	<key>kdkdrawinginfodimensionsshortunits</key>
	<string>in.</string>
	<key>kdkdrawinginfodimensionsunits</key>
	<string>inches</string>
	<key>kdkdrawinginfodraughter</key>
	<string>Howard Buddin</string>
	<key>kdkdrawinginfodrawingdimensions.size_height</key>
	<string>8.000000</string>
	<key>kdkdrawinginfodrawingdimensions.size_width</key>
	<string>10.194444</string>
	<key>kdkdrawinginfodrawingnumber</key>
	<string>A2-000022-0001</string>
	<key>kdkdrawinginfodrawingnumberunformatted</key>
	<integer>22</integer>
	<key>kdkdrawinginfodrawingprefix</key>
	<string>A2</string>
	<key>kdkdrawinginfodrawingrevision</key>
	<integer>1</integer>
	<key>kdkdrawinginfolastmodificationdate</key>
	<date>2012-12-12T07:48:53Z</date>
</dict>
</plist>
